@using Umbraco.Cms.Core.Sync
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IServerRoleAccessor _serverRoleAccessor;
@{
	Layout = null;
	var region = Environment.GetEnvironmentVariable("SERVER_REGION");
}

<p>Current Role: @_serverRoleAccessor.CurrentServerRole</p>
<p>Current Server Region: @region</p>